<nav class="light-blue lighten-1">
    <div class="nav-wrapper">
        <div class="container">
            <a href="{{ site.baseurl }}/" class="brand-logo">
                {{ site.title }}
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% for post in site.posts %}
                    {% if post.layout == "category" %}
                        <li>
                            <a href="{{ post.url }}">
                                {{ post.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
